
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.6;
}

h1{
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
 img{
    max-width: 90%;
}
li{
    width: 100%;
    list-style: none;
   
}
img{
    display: block;
     margin: 2rem auto;
}


@media screen and (min-width: 600px){
    li{
        width: 50%;
        float: left;
    }
    
    img{
        margin: 1rem auto;
    }
    
}
@media screen and (min-width: 1200px){
    li{
        width: 25%;
        float: left;
    }

}